Django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
openpyxl==3.1.5
python-decouple==3.8
psycopg2-binary==2.9.9
reportlab==4.2.2
Pillow==10.4.0
drf-spectacular==0.27.2
